<app-navbaraguapotable></app-navbaraguapotable>


  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="['/AguaPotable/operacion']" id="btnSeleccion" class="btn btn-primary btn-lg btn-block">Operación</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a routerLink="['/AguaPotable/resultados']" id="btnSeleccion" class="btn btn-primary btn-lg btn-block">Resultados</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>
          <a class="btn btn-primary btn-lg btn-block" id="btnSeleccion" data-toggle="collapse" href="#collapseOperacion"
            role="button" aria-expanded="false" aria-controls="collapseOperacion">
            Documentos
          </a>
        </p>
        <div class="collapse" id="collapseOperacion">
          <div class="card card-body">
            <a class="btn btn-primary" href="#">RCA</a>
            <br>
            <a class="btn btn-primary" href="#">Planos</a>
            <br>
            <a class="btn btn-primary" href="#">Memorias de Calculo</a>
            <br>
            <a class="btn btn-primary" href="#">Manual O&M</a>
            <br>
            <a class="btn btn-primary" href="#">Listado Productos Quimicos</a>
            <br>
            <a class="btn btn-primary" href="#">Plan de contingencia</a>
            <br>
            <a class="btn btn-primary" href="#">Listado de equipos</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-asistencia></app-asistencia>