<div class="card bg-light">
  <div class="card-body">

    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight"><strong>Usuario: </strong>Joaquín Dussaillant</div>
      <div class="ml-auto p-2 bd-highlight"><strong>ARP: </strong>Lagunitas</div>
    </div>

    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight"><strong>Cargo: </strong>Operador</div>
      <div class="ml-auto p-2 bd-highlight"><strong>Fecha: </strong>26/02/2019</div>
    </div>

    <div class="d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom"
          title="Consulta en nuestra base de conocimientos">
          Buscar
        </button>
      </form>
    </div>
  </div>
