
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Icono...</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vive Química
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sobre Nosotros</a>
                    <a class="dropdown-item" href="#">Servicios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Contacto</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Sitios de Interés 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">DOH</a>
                          <a class="dropdown-item" href="#">SISS</a>
                          <a class="dropdown-item" href="#">Normas</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Tutoriales</a>
                        </div>
                      </li>

                      
                <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Noticias</a>
                      </li>

                <li class="nav-item">
                  <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Novedades</a>
                </li>

              </ul>
              
            </div>
          </nav>

    <nav>
        

    <div id="contenido" class="main-container container d-flex justify-content-center">

            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Inicia sesión</h5>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                    </div>
                    <a [routerLink]="['/menu']" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
