

<div id="aviso-movil-horizontal" class="alert alert-warning" role="alert">
  Estimado usuario por favor, coloca tu móvil en horizontal para una correcta visualización.
</div>

<div id="contenido-absoluto">

    <app-navbaraguapotable></app-navbaraguapotable>

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Resultado</a></li>
          <li class="breadcrumb-item active" aria-current="page">Parámetros</li>
      </ol>
  </nav>



<div class="container-fluid" >
  <div class="row">
      <div class="col-2">
          <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                  href="#list-home" role="tab" aria-controls="home">PH</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
                  role="tab" aria-controls="profile">T°</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
                  role="tab" aria-controls="messages">Arsen.</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
                  role="tab" aria-controls="settings">Cloro</a>
          </div>
      </div>
      <div class="col-10">
          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                  <canvas id="myChart"></canvas>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><canvas
                      id="myChart"></canvas></div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><canvas
                      id="myChart"></canvas></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><canvas
                      id="myChart"></canvas></div>
          </div>
      </div>
  </div>
</div>



<app-asistencia></app-asistencia>
</div>

