<app-navbaraguapotable></app-navbaraguapotable>


<div class="container main-container" id="contenido">
  <div class="row">
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <p>
                      <a class="btn btn-primary btn-lg btn-block" id="btnSeleccion" data-toggle="collapse" href="#collapseOperacion"
                          role="button" aria-expanded="false" aria-controls="collapseOperacion">
                          Operación
                      </a>
                  </p>
                  <div class="collapse" id="collapseOperacion">
                      <div class="card card-body">
                          <a class="btn btn-primary" href="MedicionParametros.html">Medición Parámetros</a>
                          <br>
                          <a class="btn btn-primary" href="MantencionEquipo.html">Mantención Equipos</a>
                          <br>
                          <a class="btn btn-primary" href="InsumosProductosQuimicos.html">Insumo Productos
                              Químicos</a>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <p>
                      <a class="btn btn-primary btn-lg btn-block" id="btnSeleccion" data-toggle="collapse" href="#collapseExample1"
                          role="button" aria-expanded="false" aria-controls="collapseExample1">
                          Resultados
                      </a>
                  </p>
                  <div class="collapse" id="collapseExample1">
                      <div class="card card-body">
                          <a class="btn btn-primary" href="Parametros.html">Parámetros</a>
                          <br>
                          <a class="btn btn-primary" href="CantidadAgua.html">Cantidad Agua disponible</a>
                          <br>
                          <a class="btn btn-primary" href="HistoricoCalidadAgua.html">Histórico calidad del agua</a>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<app-asistencia></app-asistencia>